<div id="dialog-overlay"></div>
<div id="dialogs"></div>
<div id="canvas" class="module-wrapper">
	<div class="main-content">
		<h1>Bookmarks</h1>
		<div id="pages" class="pages"></div>
		<div style='cursor:pointer;margin-bottom:5px;'><span class='tempo-text-color--disabled'>4:32:38 </span> <span class='tempo-text-color--theme-accent'>Jigisha Shah </span><span>Here is link to TROW press release:</span> <span class='tempo-text-color--link'>https://www3.troweprice.com/usis/corporate/en/press.html</span></div>
		<div style='cursor:pointer;margin-bottom:5px;'><span class='tempo-text-color--disabled'>4:33:40 </span> <span class='tempo-text-color--theme-accent'>Brandon Frank </span> <span>this search is really good</span> <span class='tempo-text-color--link'>https://www.google.com</span></div>
		<div style='cursor:pointer;margin-bottom:5px;'><span class='tempo-text-color--disabled'>9:44:03 </span><span class='tempo-text-color--theme-accent'>Brandon Frank </span><span> I think that we should build a bot that pulls in information from Portware and displays it to the PM</span></div>
		<div style='cursor:pointer;margin-bottom:5px;'><span class='tempo-text-color--disabled'>11:07:55 </span><span class='tempo-text-color--theme-accent'>Jigisha Shah:</span><span> currently no services added.... i don't see it @</span> <span class='tempo-text-color--link'>http://savingmyinfo-env.h6mf5h4f2u.us-east-1.elasticbeanstalk.com/swagger</span></div>
		<div style='cursor:pointer;margin-bottom:5px;'><span class='tempo-text-color--disabled'>12:31:09 </span><span class='tempo-text-color--theme-accent'>Brandon Frank:</span><span> I think that pinning messages would be very neat</span></div>
	</div>
</div>
