<div id="dialog-overlay"></div>
<div id="dialogs"></div>
<div id="canvas" class="module-wrapper">
	<div class="main-content">
		<h1>Notebook</h1>
		<div id="pages" class="pages"></div>		
		<form>
		<divonclick="hide(this)"style='cursor:pointer;'><spanclass='tempo-text-color--disabled'>3 Oct 2017 9:44:03 am  </span><spanclass='tempo-text-color--theme-accent'>Brandon Frank:</span><span> I think that we should build a bot that pulls in information from Portware and displays it to the PM</span></div>
		<divonclick="hide(this)"style='cursor:pointer;'><spanclass='tempo-text-color--disabled'>3 Oct 2017 9:44:26 am  </span><spanclass='tempo-text-color--theme-accent'>Brandon Frank:</span><span> it should pull directly from a microservice that we build</span></div>
		<divonclick="hide(this)"style='cursor:pointer;'><spanclass='tempo-text-color--disabled'>3 Oct 2017 10:55:02 am </span><spanclass='tempo-text-color--theme-accent'>Brandon Frank:</span><span> ANother idea...</span></div>
		<divonclick="hide(this)"style='cursor:pointer;'><spanclass='tempo-text-color--disabled'>3 Oct 2017 10:56:06 am </span><spanclass='tempo-text-color--theme-accent'>Jigisha Shah:</span><span> hey TRPBot how are you doing? # #bot</span></div>
		<divonclick="hide(this)"style='cursor:pointer;'><spanclass='tempo-text-color--disabled'>3 Oct 2017 11:04:09 am </span><spanclass='tempo-text-color--theme-accent'>Brandon Frank:</span><span> we could also connect to AWS and monitor services that we have running and use different #hashtags to alert appropriately</span></div>
		<divonclick="hide(this)"style='cursor:pointer;'><spanclass='tempo-text-color--disabled'>3 Oct 2017 11:07:55 am </span><spanclass='tempo-text-color--theme-accent'>Jigisha Shah:</span><span> currently no services added.... i don't see it @</span></div>
		http://savingmyinfo-env.h6mf5h4f2u.us-east-1.elasticbeanstalk.com/swagger
		<divonclick="hide(this)"style='cursor:pointer;'><spanclass='tempo-text-color--disabled'>3 Oct 2017 12:31:09 pm </span><spanclass='tempo-text-color--theme-accent'>Brandon Frank:</span><span> I think that pinning messages would be very neat</span></div>
		<divonclick="hide(this)"style='cursor:pointer;'><spanclass='tempo-text-color--disabled'>3 Oct 2017 3:10:16 pm  </span><spanclass='tempo-text-color--theme-accent'>Brandon Frank:</span><span> I have added a few people</span></div>
		<br /><br />
		<div class='tempo-btn tempo-btn--primary'>Bookmark</div>
		<div class='tempo-btn tempo-btn--secondary'>Cancel</div>
		</form>
	</div>
</div>
