<div id="dialog-overlay"></div>
<div id="dialogs"></div>
<div id="canvas" class="module-wrapper">
	<script>
		function hide(ent) {
			ent.style.display = "none";
		}	
	</script>
	<em>Click messages to bookmark them</em>
	<br />
	<br />
	<div class="main-content">
		<div id="pages" class="pages"></div>		
		<form>
		<div onclick="hide(this)"style='cursor:pointer;margin-bottom:5px;'><span class='tempo-text-color--disabled'>9:44:03 </span><span class='tempo-text-color--theme-accent'>Brandon Frank:</span><span> I think that we should build a bot that pulls in information from Portware and displays it to the PM</span></div>
		<div onclick="hide(this)"style='cursor:pointer;margin-bottom:5px;'><span class='tempo-text-color--disabled'>9:44:26 </span><span class='tempo-text-color--theme-accent'>Brandon Frank:</span><span> it should pull directly from a microservice that we build</span></div>
		<div onclick="hide(this)"style='cursor:pointer;margin-bottom:5px;'><span class='tempo-text-color--disabled'>10:55:02 </span><span class='tempo-text-color--theme-accent'>Brandon Frank:</span><span> ANother idea...</span></div>
		<div onclick="hide(this)"style='cursor:pointer;margin-bottom:5px;'><span class='tempo-text-color--disabled'>10:56:06 </span><span class='tempo-text-color--theme-accent'>Jigisha Shah:</span><span> hey TRPBot how are you doing? # #bot</span></div>
		<div onclick="hide(this)"style='cursor:pointer;margin-bottom:5px;'><span class='tempo-text-color--disabled'>11:04:09 </span><span class='tempo-text-color--theme-accent'>Brandon Frank:</span><span> we could also connect to AWS and monitor services that we have running and use different #hashtags to alert appropriately</span></div>
		<div onclick="hide(this)"style='cursor:pointer;margin-bottom:5px;'><span class='tempo-text-color--disabled'>11:07:55 </span><span class='tempo-text-color--theme-accent'>Jigisha Shah:</span><span> currently no services added.... i don't see it @</span> <span class='tempo-text-color--link'>http://savingmyinfo-env.h6mf5h4f2u.us-east-1.elasticbeanstalk.com/swagger</span></div>
		<div onclick="hide(this)"style='cursor:pointer;margin-bottom:5px;'><span class='tempo-text-color--disabled'>12:31:09 </span><span class='tempo-text-color--theme-accent'>Brandon Frank:</span><span> I think that pinning messages would be very neat</span></div>
		<div onclick="hide(this)"style='cursor:pointer;margin-bottom:5px;'><span class='tempo-text-color--disabled'>3:10:16 </span><span class='tempo-text-color--theme-accent'>Brandon Frank:</span><span> I have added a few people</span></div>
		</form>
	</div>
</div>
