<div id="dialog-overlay"></div>
<div id="dialogs"></div>
<div id="canvas" class="module-wrapper">
	<div class="main-content">
		<h1>Notebook</h1>
		<div id="pages" class="pages"></div>
		
	    <form>
			<input type="checkbox" class='' style='width:auto;' /><span>Brandon Frank </span><span>I think that we should build a bot that pulls in information from Portware and displays it to the PM</span>
			<input type="checkbox" class='tempo-input-standard mycheck' /><span>Brandon Frank </span><span>It should pull directly from a microservice that we build</span>
			<br /><br />
			<div class='tempo-btn tempo-btn--primary'>Bookmark</div>
			<div class='tempo-btn tempo-btn--secondary'>Cancel</div>
		</form>
	</div>
</div>
